[2022-09-14 15:52] tarek-bochkati commented on #115
As suggested by @ReinhardKeil I'm closing this issue

[2022-09-14 15:52] #115 closed

[2022-09-14 16:07] jeromecoutant commented on #352
I don't understand your point...

Maybe my question was not clear.
In my environment, command gives me 2 answers:
[code]
I then use some grep and cut command to get the generator, but it is not "friendly".
My request is maybe we can get a json file instead of console with a specic parameter ?

Thx

[2022-09-15 13:47] tarek-bochkati commented on #115
BTW, @mario-pi I proposing a new PR series to support Translate Controls options (aka optimize, debug and warnings)
3  / 4 PRs are merged, and the last one #484 is modifying the IAR.cmake file
it would be helpful if you can check the IAR.cmake file changes

[2022-09-16 07:55] ReinhardKeil commented on #142
@DavidJurajdaNXP This is a very good proposal, that we have not addressed yet (sorry busy with too much other stuff).

I suggest to extend the `list` command with:
[code]

[2022-09-16 08:51] ReinhardKeil opened #489 "Simplify instances: Review existing Proposal -> retain existing feature with no further extension"
@fred-r Beginning of this year we did discuss instances which resulted in this proposal:
https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/YML-Input-Format.md#instances

However, I'm leaning towards keeping existing features, but not extending it the way currently proposed. Reasons:
  - Previous implementations (in MDK, CMSIS-Pack-Eclipse) had the option to bring in m

[2022-09-19 12:39] ReinhardKeil commented on #254
Closing this issue as it will by address with the `*.cbuild.yml` file.

[2022-09-19 12:39] #254 closed

[2022-09-19 12:41] ReinhardKeil commented on #120
Is this still relevant?

[2022-09-19 12:47] VGRSTM commented on #120
To me yes. Would not claim high level priority but as part of a standard such is real problematic to me.
As example if I want to introduce LLVM (not AC6 version)  what do I do ?
And still have https://github.com/Open-CMSIS-Pack/devtools/issues/120#issuecomment-1060396857 issue i.e. global proposal is not homogeneous.

As high level summary yes still valid but no emergency

[2022-09-19 12:48] ReinhardKeil commented on #412
I suggest to only load latest packs by default.  If someone wants a specific pack versions, this could be explicitly requested using the `pack:` node with version information.

[2022-09-19 13:03] ReinhardKeil commented on #141
Closing this as `list boards` has been implemented long time ago.

[2022-09-19 13:03] #141 closed

[2022-09-19 13:06] ReinhardKeil commented on #85
closing this issue as there is no further feedback.  Please raise separate tickets if you feel that we should address an aspect.

[2022-09-19 13:06] #85 closed

[2022-09-19 13:13] ReinhardKeil commented on #143
@DavidJurajdaNXP not sure what you mean by that?

Note that CBuild already supports a `--clean` option

[2022-09-19 13:24] ReinhardKeil commented on #275
Is this still open?

[2022-09-19 13:27] ReinhardKeil opened #493 "Document how a compiler can be added to CMSIS-Toolbox"
There should be documentation on how a new compiler can be added to the CMSIS-Toolbox.

See also previous issue #120

[2022-09-19 13:29] ReinhardKeil commented on #120
@VGRSTM agreed that we should give a high-level information how this is done.  I created therefore #493 and suggest to close this for the time being as it became a bit fuzzy.

[2022-09-19 13:35] ReinhardKeil commented on #352
I think this is part of the generators concept and it needs indeed further discussion.

But, what would be the next step after you get the *.json file.  How does this improve usiblity?

[2022-09-19 13:49] tcsunhao commented on #296
Hi @ReinhardKeil and @jkrech, any updates for this topic? This is critical to NXP adoption for Open-CMSIS-Pack because of https://github.com/Open-CMSIS-Pack/devtools/issues/296#issuecomment-1189987003.

For project provided customized config file for certain component, yes we can put them in advance in "RTE" folder, tools(no matter Open-CMSIS-Pack or vendors tools) can take higher priority for con

[2022-09-19 15:06] jkrech commented on #352
I think the use case here is, that you run e.g. an IDE where for the active context the user is displayed a list of one or more generators that need to be run and based on the user response will run the user selected generator. The json file format provides a structured description to easily construct the command line. For a human typing at the command line, copying the generator ID from the outpu

[2022-09-20 07:14] jkrech commented on #296
Let's put the aspect of layers aside for a moment and only look at an example project that should run out of the box.
Just like: https://github.com/Open-CMSIS-Pack/csolution-examples/tree/main/Hello

As a user you would create a csolution file and a cproject file. In the cproject file you add the component:
[code]
When running the `csolution` tool convert command, all config files of this componen

[2022-09-20 07:32] jkrech commented on #493
a) define a `compiler_name` for the new compiler
b) add this `compiler_name` to the `"CompilerType":` in the schema file: https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/schemas/common.schema.json
c) create a copy of an existing compiler cmake file (`compiler_name.<version>.cmake e.g. GCC.11.2.1.cmake here:
https://github.com/Open-CMSIS-Pack/devtools/tree/main/tools/buildmgr/cb

[2022-09-20 07:34] ReinhardKeil commented on #493
Note: This is not an urgent request.  We can first complete the infra-structure (i.e. complete compiler agnostic controls).

[2022-09-20 08:52] jkrech commented on #143
The request here is for the `csolution` tool. It generates cprj files for each context (optionally into --output directory)
`csolution --clean` would then delete those files.
@DavidJurajdaNXP do you expect that also config files that were copied by `csolution` into RTE paths to be removed? Isn't this more like a revert?
How about removing lock (*.cbuild.yml) and generator files (*.genlayer.yml)? I

[2022-09-20 09:10] tcsunhao commented on #296
@jkrech, thanks for this explanation. I have read the [PLM](https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/Overview.md#plm-of-configuration-files) and understand that inside project tree, 2 files will need to be provided: versioned copy and modified copy(If project needs customized configuration file for certain component). I have no problems about this part.

My s

[2022-09-20 09:11] jkrech commented on #469
This is a `packchk` defect. The features listed in the Pack Schema is most up-to-date and `packchk` needs to catch up.
We should review whether packchk should avoid duplicating checks which are covered by the schema check.

[2022-09-20 09:15] jeromecoutant commented on #469
packchk could include schema check ?

[2022-09-20 09:22] jkrech commented on #296
I don't understand why we need to record these files? Why are they provided "additionally" and why do they need to be searched for? The destination directory for configuration files is defined through meta information and needs to be "calculated" by the tools or can be read from the *.cbuild.yml , they do not get searched for in the directory structure.

[2022-09-20 09:26] soumeh01 commented on #275
Yes, for running the tests you need to set the `CI_PACK_ROOT` otherwise the default pack root path ( which in your case is  `${HOME}/.cache/arm/packs`) will be used.
In the scenario, if you have already set `CMSIS_PACK_ROOT`. On running the tests, 'CMSIS_PACK_ROOT' will be overwritten with the `CI_PACK_ROOT` value.

Thanks for pointing out the **automatic installation of packs**. The documentation

[2022-09-20 09:47] ReinhardKeil commented on #215
I consider this as duplicate and suggest to close that issue.

Most items should be covered by https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/YML-CBuild-Format.md

See also https://github.com/Open-CMSIS-Pack/devtools/issues/142 (proposed command "csolution list setup") which provides information about the configuration.

[2022-09-20 11:23] jkrech commented on #142
I like the idea of a command that lists the "implicit tool configurations".
The reason I would not use the term `setup` here is that we use setup as a keyword in the csolution.yml already. I am afraid this is confusing:
https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/YML-Input-Format.md#setups

[2022-09-20 11:26] jkrech commented on #330
@brondani please note:
[code]
should read:
[code]
as we are deprecating the immediate specification of a cproject.yml file and mandate csolution.yml files as input.

[2022-09-20 11:29] brondani commented on #412
@mcgordonite In the PR https://github.com/Open-CMSIS-Pack/devtools/pull/495 the following option was added:
[code]
For your use case it means when using `--load required` only the packs listed under the `packs` node in csolution.yml will be loaded and csolution will return a non-zero exit code when asked to load a csolution.yml with no packs.
It will appear in the next CMSIS-Toolbox release.

If t

[2022-09-20 11:35] ReinhardKeil commented on #276
I believe `misc` is an acceptable work-around.  I would suggest to reject for the moment until we understand how widely such extensions are used.

[2022-09-20 11:59] brondani commented on #493
@jkrech We should document the purposes of variables and functions in the toolchain specialized *.cmake file:

| CMake variable               | Description |
| ---------------------------- | ----------- |
| ASM_CPU, CC_CPU and CXX_CPU | device selection set according to the combination of device attributes (CPU, FPU, DSP, MVE, etc.) |
| AS_LEG_CPU, AS_ARM_CPU, AS_GNU_CPU | similar to the previous

[2022-09-20 12:00] jkrech commented on #351
Since you identified a way to resolve the description using only a single define and this is only "nice to have", we decided to reject the request to extend the support for multiple defines.
In the specification we shall change the description of the `define` attribute to:

[code]

[2022-09-20 12:00] #351 closed

[2022-09-20 12:07] VGRSTM commented on #493
@brondani +2 solving https://github.com/Open-CMSIS-Pack/devtools/issues/367

[2022-09-20 12:35] ReinhardKeil commented on #324
Is this completed?

[2022-09-20 12:36] ReinhardKeil commented on #119
I believe this is somewhat a duplicate with #434 -> suggest to close it.

[2022-09-20 12:54] jkrech commented on #324
This has not been implemented in `csolution`  (RTE-Model) yet.
During discussion @edriouk  and @brondani suggested to use `base` instead of `current` as this term is also used by git merge.
[code]

[2022-09-20 12:56] tcsunhao commented on #296
It is not about the destination directory which I truly believe that tools can calculate from meta information.

When tools open the csolution/cproject yml for the first time, there is no cbuild.yml which is generated later, if there is no such data about reconfig file, no one knows that whether for this project there is(are) any provided customized config file for which component. Tools will need

[2022-09-20 13:13] ReinhardKeil commented on #296
@tcsunhao the way we envision that project composition works for an IDE flow is:
- IDE creates csolution.yml/cproject.yml etc. to reflect the settings.  With the OK button the csolution tool converts it into cbuild.yml  (note that csolution also copies default config files).
- cbuild.yml will contain information about the config files.  IDE should also show this config files in relationship to eve

[2022-09-20 13:23] ReinhardKeil commented on #224
This has been added to the documentation under [`misc:`](https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/YML-Input-Format.md#misc) with `Link-C` and `Link-CPP`.

Who owns the implementation?

[2022-09-20 13:24] ReinhardKeil commented on #142
Good point.  Let's rename it to "list config"

[2022-09-20 13:54] slhultgren commented on #119
I agree, lets close this one and continue in #434 , for me the `cbuild.yml` covers most of the discussion (if not all) so far

[2022-09-20 13:54] #119 closed

[2022-09-27 14:06] DavidJurajdaNXP commented on #466
@fred-r
I agree with concept of 'trivial resolution' and also with need of differentiation between components added as result of user action and automatically added components by resolver.

@jkrech
I am not sure about  difference between "Primary components" and "Secondary components". Why we need such differentiation?
Is not it still just "User selected component". From my perspective it does not

[2022-09-28 07:06] jkrech commented on #466
One challenge I see today is that in a project we have files (header and modules without meta information) and components (with meta information e.g. about dependencies).
Once a module explicitly includes a header file from a component, there is a dependency that we do not track today. Identifying components that are no longer needed, in my view requires this type information.

[2022-09-28 12:50] #337 closed

[2022-09-30 08:09] madchutney commented on #466
Thanks @fred-r your description, it highlights some of the challenges we are facing in building an IDE to help with component management. How to select components, display and add dependencies is something that we have a good handle on, but there doesn't seem to be a good way to automatically manage the removal of components.

Part of this has already been mentioned, but so far I have identified t

[2022-10-04 11:54] jkrech commented on #434
We plan to have a first iteration of the *.cbuild.yml files in csolution 1.2.0 currently in development.

[2022-10-04 11:58] jkrech commented on #427
@tcsunhao we have not heard back from you on the above topic. Can you please help to validate the reported defect?

[2022-10-04 12:02] jkrech commented on #410
csolution v1.2.0 is targeted for Oct. 11th 2022

[2022-10-04 12:03] jkrech commented on #409
@jankap  any update on your attempt to validate the fix provided in 1.1.0 ?

[2022-10-04 12:06] jkrech commented on #381
@fred-r could you please confirm the fix? Thanks.

[2022-10-04 12:09] jkrech commented on #374
@jeromecoutant I would like to remind you to validate the fix and comment accordingly/close the issue.

[2022-10-04 12:10] jkrech commented on #348
Documentation got updated accordingly.

[2022-10-04 12:10] #348 closed

[2022-10-04 12:11] jkrech commented on #344
@fred-r could you please validate the fix?

[2022-10-04 12:12] jkrech commented on #343
@fred-r could you please validate the fix?

[2022-10-04 12:22] jkrech commented on #275
@Patater can you confirm that this is now properly documented and this issue can be closed?

[2022-10-04 12:25] jkrech commented on #232
@fred-r can you please check whether Daniel's response is addressing your concern?

[2022-10-04 12:28] jkrech commented on #217
@fred-r could you please validate that this problem got fixed in csolution 1.1.0.

[2022-10-04 12:30] jkrech commented on #215
@fred-r could you please check whether this issue can be closed in light of https://github.com/Open-CMSIS-Pack/devtools/issues/142 ?

[2022-10-04 12:37] jkrech opened #506 "[packchk] embed XML validation as an initial validation step"
This is a request to integrate an XML schema validation step in the `packchk` utility to avoid requiring the installation/presence of additional tools for the automated as well as manual pack creation and validation flows.
From experience we find that people miss to validate the schema compliance but fully rely on `packchk` instead. That tool however is limited to semantical validation and does no

[2022-10-04 13:55] jeromecoutant commented on #352
OK, our tool will parse pdsc files directly.
No need for extra json or whatever generated list.
Thx

@slhultgren

[2022-10-04 13:55] #352 closed

[2022-10-04 19:27] jankap commented on #409
No, not yet sorry. Will build the new image end of this month, since we're currently releasing a project  using an older version of cbuild.

[2022-10-05 09:04] jkrech opened #510 "[packchk] Add validation rule that detects a dependency rule satisfied by the component itself"
packchk requires an additional validation rule that helps the pack developer to detect a dependency that is implicitly 'resolved'.

Example:
[code]
When selecting the first component without selecting the second, there will be no unresolved dependency reported because the first component already satisfies the condition, despite the fact that it specifies a Csub.
In order to require a component wit

[2022-10-05 11:39] jkrech opened #511 "[csolution] Add flag to convert command for a "non-lockfile" mode"
The command `csolution convert` generates a *.cprj file for each context. Within cprj all versions of packs and components are fully specified, regardless whether fixed versions are specified by the csolution/cproject/clayer.yml files. This is allowing reproducible builds based on the *.cprj files, even if `csolution` and `cbuild` are executed independently in different environments.

This request

[2022-10-06 11:35] Patater commented on #275
Thanks for adding a line about automatic installation of packs. I'm still not clear if when I make a new pack root for running these tests, if I need to run `cpackget init` beforehand or if that'll get run for me as part of automatically installing the packs.

I still think the documentation around required environment variables could be improved. As someone new to the tool, I don't know what "pla

[2022-10-07 11:26] jkrech commented on #466
I disagree. We have agreed that csolution would need to ask for user input, if more than one component resolves a dependency - effectively the component ID specified in the yml file needs to be refined to become unique.
Once the dependencies are resolved and components got selected the "used" pack versions are known and the remaining packs could be removed. However it is required to take all proje

[2022-10-10 07:31] madchutney commented on #466
@jkrech I understood it was possible for a component ID to resolve to components in different packs, even when fully specified as it does not include any reference to a pack ([ComponentType](https://github.com/Open-CMSIS-Pack/devtools/blob/9b8839b3f9e2d259ea8442895784981127137264/tools/projmgr/schemas/common.schema.json#L338))?

If this is not the case then please disregard.

If I have understood

[2022-10-11 07:30] jkrech commented on #466
@madchutney while it is technically possible even for a fully specified component (Cvendor is set) to be resolved to components in different packs, it is the vendor's responsibility to prevent this from happening. If there is strong reason for doing so, it is the vendor's responsibility to ensure that the description and content of these components are identical such that it would become irrelevan

[2022-10-11 12:56] soumeh01 commented on #224
Yves Wang <yves.wang@linaro.org> owns the implementation for this.

[2022-10-11 13:20] soumeh01 commented on #224
As per my understanding, Below are the two proposals I propose

### Proposal 1

- **New project**: Implements both `LINK-C` and `LINK-CPP` flags (_No existing LINK flags_).
- **Old Projects**: Implements only `LINK` flags. (for backward compatibility)

Pros: Less complex, clear distinction of flags
cons: Common flags need to be repeated in both `LINK-C` & `LINK-CPP`

### Proposal 2:
@yvesll commen

[2022-10-11 13:35] jkrech commented on #224
For backward compatibility we will need to support `LINK`, therefore we always maintain 3 categories.
Since the linker flags are composed from `LINK + LINK-C` or `LINK + LINK-CPP` nothing prevents a user/tool to choose to only actively use:
a) `LINK`
b) `LINK-C` and `LINK-CPP`
or
c) `LINK`, `LINK-C` and `LINK-CPP`

That's why I prefer proposal 2. What are the pitfalls?

[2022-10-11 14:26] fred-r commented on #506
@jeromecoutant : would you like to volunteer for implementing this ?

[2022-10-11 14:34] jeromecoutant commented on #506
@fred-r I support the idea of this issue, but I can't implement :-)

[2022-10-11 14:47] fred-r commented on #506
@jkrech : is it really mandatory to merge the tools with new CLI options ?
May we keep the tools separated but provide a wrapper ?

This wrapper would be the new entry point to have both checks systematically made ?

[2022-10-12 05:30] jkrech commented on #506
I am not saying it is mandatory, however from my experience, asking people to install xmllint (in particular on Windows) as another prerequisite is a hurdle if not a barrier and I am not in favor re-distributing tools and utilities but in this case prefer to integrate some existing XML-Library to run the schema check from within `packchck` without creating an additional dependency. In csolution we

[2022-10-12 08:41] madchutney opened #528 "[projmgr] Schemas v1.2 for projects and schemas is not backward compatible with v1.1"
With the change in `OptimizeType` and `WarningsType`, solutions/projects created to work with version 1.1 will fail schema validation checks for the new version 1.2 schema.

* The valid range of values for `OptimizeType` has changed from  `["max", "size", "speed", "debug"]`, to `["size", "speed", "balanced", "none"]`. The removal of `max` and the renaming of `debug` breaks backwards compatibility.

[2022-10-12 08:47] thorstendb-ARM commented on #510
Proposal for error message:
`*** WARNING M389: ARM.GitHub#510.pdsc (Line 17)
  The component 'ARM::C.G(cond1)[]' (Line 17) has dependency 'SW' : 'require C:G' that is resolved by the component itself.
`

[2022-10-13 06:56] brondani commented on #528
The old values were accepted only in the schema but their handling was never implemented.
What backward compatibility would mean here? Accept old values in the schema but ignore them (which is the old behaviour) doesn't sound clever. For this reason I believe the cleanest solution is to accept it as compatibility break an update projects that may have used it occasionally.
@tarek-bochkati What is

[2022-10-17 12:54] jkrech commented on #506
@yvesll , @tcsunhao you kindly agreed to contribute this feature to packchk. Please let me know if you have any questions.

[2022-10-18 11:47] ReinhardKeil commented on #450
This proposal adds `context-map:` to `target-types:` and `build-types:` which solves two problems:
- Integrate cproject.yml files that use different target/build types as the main project (in this case Demo)
- Defines how projects are combined to a solution for the final target (needs reflection in cbuild-idx.yml).

**Example:**
[code]
A context name is:  [project-name][.build-type][+target-type]

[2022-10-18 11:55] ReinhardKeil commented on #315
The picture in the documentation is fixed.

[2022-10-18 11:55] #315 closed

[2022-10-18 13:27] jkrech commented on #450
Mapping the above to the dual core example I believe this would be expressed like this:
[code]
All contexts of a common build-type/target-type  combination (e.g. `.release+DualCore`) are considered a set of dependent projects that contribute to the programming of the `device`

[2022-10-18 13:54] tcsunhao commented on #427
Hi @brondani , I confirm that this issue has been fixed. (Sorry for this late reply, just found it during check).

[2022-10-18 13:54] #427 closed

[2022-10-18 14:11] ReinhardKeil commented on #450
@jkrech is correct, but since target-type (DualCore) is identical it might be even simplified to what is shown below. The result would be identical, but it allows to add more target-types, i.e. another slightly different device.

[code]

[2022-10-18 14:23] tcsunhao commented on #450
Hi @ReinhardKeil ，can I ask where does flexspi_nor_debug of Hello_World_CM7 define, in ./Hello_World_CM7.cproject.yml?

[2022-10-18 14:30] VGRSTM commented on #528
I'm supporting @brondani answer.
1.1.0 schema on this area has never been implemented if core processing. Was more kind of proposal (merged at a point unfortunately if we consider a strict process).

[2022-10-18 15:18] ReinhardKeil commented on #450
In your [example](https://github.com/Open-CMSIS-Pack/devtools/issues/450#issuecomment-1241581868) you are using 'for-type:` to query the different build types.  This is where they would be used.

[2022-10-19 08:25] brondani commented on #434
**cbuild output implementation progress:**

Feature                                                                                  | Status                   | Version
:----------------------------------------------------------------------------------------|:-------------------------|:----------------
`cbuild-idx.yml` file generation                                                         | :hea

[2022-10-20 07:20] jankap commented on #342
Thank you very much for your  response.
Is it possible to compile the same cproject with different compilers?

Is there documentation or are there examples that show how unit testing might work with cbuild?

Thank you!

[2022-10-20 12:48] fred-r opened #541 "cproject should not specify more specific info than a core ?"
https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/YML-Input-Format.md#project

We understand:
- output-type = library
- processor = Cortex-M4

But not board and device ==> this is csolution's scope.

@slhultgren @iomint @VGRSTM @LMESTM @emmanuelgrandin

[2022-10-20 12:55] fred-r opened #542 "how to compile a library project ?"
if we describe a library project through a cproject.yml, how can we generate the binary today ?

[2022-10-20 14:57] jkrech commented on #541
@fred-r, the cproject format specifies the instance name of the processor in a multi-core device while on the csolution level the device is specified.
See https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/YML-Input-Format.md#device-name-conventions
`[Dvendor:: [device_name] ] [:Pname]`
The Pname is part of the device definition in the DFP and is a string identifying t

[2022-10-21 07:15] edriouk commented on #466
I think it is hard to distinguish user-assisted and automated component selection for dependency resolution.  An automatically selected component can still be changed by user, e.g. another variant or version.

My proposal is instead of marking components as  **auto**,  allow the users to define **primary** components they believe are essential for the project/solution/layer. The corresponding prop

[2022-10-21 08:00] brondani commented on #542
Example:
[code]
Command line to convert and build this solution:
`csolution -s csolution.yml convert && cbuild library.cprj && cbuild app.cprj`

[2022-10-21 09:26] brondani commented on #528
@madchutney Thanks for the feedback. As documented in the [progress table](https://github.com/Open-CMSIS-Pack/cmsis-toolbox/blob/main/docs/progress.md), unfortunately we still have many features to implement that will occasionally cause disruption.
For future releases let's try to be more clear about such changes and follow your suggestions. In this sense I invite all contributors working on speci

[2022-10-21 09:26] #528 closed

[2022-10-23 11:15] yvesll opened #547 "Add support for running CbuildIntegTests on darwin-arm64"
Though building all darwin-arm64 binaries is a large task, Apple's Rosetta2 allows us to use amd64 and arm64 binaries together. So before we are able to fully support apple silicon, it would be feasible to add a workaround to avoid arch not match errors in build installation scripts. For example, always using amd64 when the os is macOS like the following:
[code]
From my test, it can pass CbuildInt

[2022-10-24 13:53] brondani commented on #547
@yvesll can you please check whether the PR https://github.com/Open-CMSIS-Pack/devtools/pull/550 is according your expectations? Thanks!

[2022-10-25 10:08] yvesll commented on #547
@brondani, yes this can work. One thing should be noticed that, at the beginning of the test it will print
`./create_installer.sh: line 114: /Users/yvesleo/Workspace/devtools/build/tools/buildmgr/test/integrationtests/testoutput/distribution/bin/cbuildgen.mac-amd64: No such file or directory`
But this does not affect the result, seems just a delivery issue.
And maybe the readme can tell user do no

[2022-10-25 13:30] ReinhardKeil commented on #313
The only remaining point of this issue is the R/O of version info files.

@edriouk are the files that indicate the versions (extended with @<version>) already R/O?

[2022-10-25 13:34] ReinhardKeil commented on #128
closing this issue as the relevant tools have now a way to list versions.

[2022-10-25 13:34] #128 closed

[2022-10-25 13:34] tcsunhao commented on #450
Hi @ReinhardKeil , thanks for this explain. I agree that [alias](https://github.com/Open-CMSIS-Pack/devtools/issues/450#issuecomment-1240685617) cannot meet NXP hello_world cm4 or cm7 needs.

I have a question related to
[code]
Honestly, I don't understand how is "based on for-type". The hello_world_cm7 should also just understand 2 build-types flexspi_nor_debug and flexspi_nor_release. In NXP cas

[2022-10-25 13:42] edriouk commented on #313
@ReinhardKeil, yes the files are read only

[2022-10-25 13:44] jkrech commented on #313
As far as I can see on windows trunk, these versioned files have the read-only flag set. Note that csolution V 1.2.0 does not include the latest updates of the RTE Model yet.

[2022-10-25 13:45] ReinhardKeil commented on #450
Defining `build-types` or `target-types` typically implies that the cproject files query these types with `for-type:`.

CM7.cproject.yml understands all 4 build-types and reacts different (based on for-type:)
*This project uses for-type: to query all 4 build-types*

CM4.cproject.yml understands just 2 build-types (.debug and .release).
*This project uses for-type: to query only .debug and .release

[2022-10-25 15:58] brondani commented on #547
@yvesll
I've added [this commit](https://github.com/Open-CMSIS-Pack/devtools/pull/550/commits/252e08a2317f12f227a8e72fd854d9eb087c2452) for suppressing the warning.
For MacOS development we explicitly recommend [AppleClang](https://github.com/Open-CMSIS-Pack/devtools/blob/main/README.md?plain=1#L88) instead of GCC, is this also valid for the M1?
Not sure what you mean with "do not use apple build

[2022-10-26 06:20] ReinhardKeil commented on #127
In my view this problem is solved by now.

[2022-10-26 06:23] ReinhardKeil commented on #124
@fred-r the node `interface:` is no longer limited to `*.clayer.yml`.  I did also improve the description https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/YML-Input-Format.md#interface.

I suggest we open new issues to discuss it further.

[2022-10-26 06:32] ReinhardKeil commented on #330
@brondani - to avoid confusion, I did suggest to change the [help text under](https://github.com/Open-CMSIS-Pack/devtools/issues/330#issuecomment-1251015059)

**Change**
[code]

**To**
[code]

Rational: <build-type> and <target-type> are not optional.  They must be specified when they exist.

[2022-10-26 06:37] ReinhardKeil commented on #314
@brondani this is mostly complete, but the default behavior for the `tmp` directory, might need review.  Is the part **Demo.Debug+WiFi.dir** really required given that we have already `tmp\Demo\WiFi\Debug` in the path?  Not sure if this is a problem of **cbuild** rather then **csolution**

C:\w\AWS_MQTT_MutualAuth_SW_Framework\tmp\Demo\WiFi\Debug\CMakeFiles\**Demo.Debug+WiFi.dir**\C_\w\AWS_MQTT_Mu

[2022-10-26 06:39] ReinhardKeil commented on #259
I suggest we keep the current behavior as the tool has already some complexity.  Willing to investigate at a later point in time (after we a IDE integration completed).

[2022-10-26 06:40] ReinhardKeil commented on #215
Closing this issue as considered as duplicate

[2022-10-26 06:40] #215 closed

[2022-10-26 06:41] ReinhardKeil commented on #232
closing this issue as considered as fixed

[2022-10-26 06:41] #232 closed

[2022-10-26 06:41] jkrech commented on #127
`csolution list packs`   lists all installed packs
`csolution -s <csolution> list packs`  lists all packs specified by the csolution file regardless of context
`csolution -s <csolution> -c <context> list packs` lists all packs specified for the selected context
The commandline flag `-m` will filter the printed list for packs that are not installed.
This preserves the separation of concerns between

[2022-10-26 06:41] #127 closed

[2022-10-26 06:44] ReinhardKeil commented on #343
closing the issue as considered as fixed

[2022-10-26 06:44] #343 closed

[2022-10-26 06:44] ReinhardKeil commented on #310
closing as all relevant tools have now a way to print version information

[2022-10-26 06:44] #310 closed

[2022-10-26 06:49] ReinhardKeil commented on #381
Considered as fixed

[2022-10-26 06:49] #381 closed

[2022-10-26 07:01] brondani commented on #314
@ReinhardKeil The directory `Demo.Debug+WiFi.dir` in your example is created by `cmake` and it's derived from the CMake target name. In the current scenario where each project context is built separately it could be made shorter, but in a multi-project scenario each CMake target must have an unique name.

[2022-10-26 07:20] ReinhardKeil commented on #314
@brondani thanks for the answer.  Is there a way to change the behavior of `cmake`.  Can we influence this part of the path name?

[2022-10-26 07:49] brondani commented on #314
@ReinhardKeil AFAIK we can change this directory name only by changing the CMake target name.
In the multi-project scenario that I mentioned all project contexts are part of the same CMake Project, in other words they have a single "solution" CMakeLists.txt entry point, regardless of yml files location, so CMake can handle interdependencies, build order, etc. In this case the `CMakeFiles` director

[2022-10-26 11:07] yvesll commented on #547
@brondani,
Thanks, the warning disappeared.
Sorry I was not aware of that the readme suggests apple clang, so I use ninja and armgcc before. From my test, the apple clang 14.0.0 works well.
If I use the pre-installed tar and gzip in macOS, it will raise the following errors:
[code]
I have created PR [here](https://github.com/Open-CMSIS-Pack/devtools/pull/556).
Thanks.

[2022-10-26 12:54] ReinhardKeil opened #557 "Issues with `output-dirs:`"
This are some observations for the `output-dirs:` option.

**Proposal:**  Rename `output-dirs:` to just `output:` as this section might be extended to control also the cmake target name.

**Bug:** `output-dirs:` seems only to work at the level of the `*.csolution.yml` file.  Additing `output-dirs:` to a `*.cproject.yml` seems to be ignored.  Is this intentional?  Also the directory settings in `*.

[2022-10-26 13:32] brondani commented on #557
@ReinhardKeil As mentioned [here](https://github.com/Open-CMSIS-Pack/devtools/issues/314#issuecomment-1174862661) the `output-dirs` are initially accepted only at csolution level.
Extending it to cproject (and to clayer?) (and to component?) brings other questions:
- Which child nodes should be accepted at each level?
- What is the behaviour when multiple values are set? Never allowed, only allowe

[2022-10-26 13:32] ReinhardKeil opened #558 "Proposal `output-dir:` -> `output:`, add control for `target-name:`, rename `intdir:` -> `tmpdir:`, change in default settings"
Currently there is no way to control the output name (target-name) of the project.

My suggestion for [`output-dir:`](https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/YML-Input-Format.md#output-dirs) is therefore to change it as below (with default settings):

[code]

As a result of this proposal, I suggest to add to [Access Sequences](https://github.com/Open-CMSIS-P

[2022-10-26 13:36] ReinhardKeil commented on #314
A lot has been done on this issue, but still some optimizations could be done.  I have summarized it here #558

[2022-10-26 13:36] #314 closed

[2022-10-26 13:44] ReinhardKeil opened #559 "`RTE_components.h`, preinclude files generated in wrong location and too late"
Currently the file `RTE_components.h` and preinclude files are generated by cbuild in the directory with this naming:

[code]

I suggest that these files are generated by `csolution` and the directory is changed to:
[code]

The change of the directory makes the behavior identical to MDK (when a *.CPRJ is imported)
The change to generate the files by `csolution` allows to run static code analysis t

[2022-10-26 14:57] ReinhardKeil commented on #557
Do you see any problems?  #558 is my proposal for default settings.  Not sure if this causes issues during implementation.

`cproject.yml` settings overwrite the settings of `csolution.yml`

[2022-10-27 06:59] brondani commented on #559
The creation of the RTE folder content, including RTE_Components.h and pre-include files, the introduction of flags to optionally skip it in `csolution` and the inverted logic in `cbuild` are being implemented in PR https://github.com/Open-CMSIS-Pack/devtools/pull/432 according to issue https://github.com/Open-CMSIS-Pack/devtools/issues/371.

The target subdirectory containing only `build-type` an

[2022-10-27 07:18] ReinhardKeil commented on #559
Is this really a valid use case?  When would multiple projects share the same RTE directory? Should we make this directory configurable instead?

[2022-10-27 07:26] brondani commented on #557
I see many open questions because there is no intuitive logical behaviour.
The default value for `rte-dir` at project level is `<cproject.yml base directory>/RTE` and for config files of components belonging to layers the default is `<clayer.yml base directory>/RTE`.
When customizing the `rte-dir`, should all config files be written in such directory or those relative to layers should be handled d

[2022-10-27 07:42] brondani commented on #559
Unless we forbid multiple cproject.yml files in the same directory, it is a valid use case. CoreValidation already has such structure:
https://github.com/ARM-software/CMSIS_5/tree/develop/CMSIS/CoreValidation/Project

This directory could follow the configurable `target-name` as in your proposal https://github.com/Open-CMSIS-Pack/devtools/issues/558.

[2022-10-27 09:50] ReinhardKeil commented on #559
Thanks for pointing to the use case, I will review it.

[2022-10-27 11:26] brondani commented on #547
Thanks @yvesll.
The PRs https://github.com/Open-CMSIS-Pack/devtools/pull/550 and https://github.com/Open-CMSIS-Pack/devtools/pull/556 were approved and merged.

[2022-10-27 11:26] #547 closed

[2022-10-27 14:44] ReinhardKeil commented on #528
@madchutney yes we should do better. I made the term backward compatibility clearer in the documentation (https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/docs/Manual/Overview.md)

[2022-10-27 15:57] jeromecoutant commented on #469
Correction is linked to #506? Is this correct ?

[2022-10-28 08:41] soumeh01 commented on #275
@Patater We have made an effort to simplify the [test documentation](https://github.com/Open-CMSIS-Pack/devtools/pull/563) and provide more details on the environment variables and their default values. Also, we agree that there was some confusion between `CMSIS_PACK_ROOT` & `CI_PACK_ROOT` environment variables. Now only `CMSIS_PACK_ROOT` exists. For your reference, related changes can be found in

[2022-10-31 11:30] UniverGao opened #566 "Problem by using gcc compiler"
When I used AC6 in *.csolution.yml, running `csolution convert -s *.csolution.ym`, the `*.cproj` could be generated
But when I changed it into GCC, some error happend:
`error csolution: no component was found with identifier 'ARM::Device:Definition'`
`error csolution: processing context 'Blinky.Debug+AVH_MPS3_Corstone-300' failed`
`error csolution: no component was found with identifier 'Keil::Com

[2022-10-31 11:58] jkrech commented on #566
@UniverGao looking at the error output above, the problem does not seem to be the general support for the gcc compiler toolchain of the tools but rather the availability of components, since some of the software modules like e.g. assembler files are specific for a certain tool-chain.

[2022-11-03 11:20] ReinhardKeil commented on #409
closing this issue as no further feedback

[2022-11-03 11:20] #409 closed

[2022-11-03 15:31] brondani commented on #412
@mcgordonite Can you please check whether the option `--load required` introduced in csolution [1.2.0](https://github.com/Open-CMSIS-Pack/devtools/releases/tag/tools%2Fprojmgr%2F1.2.0) works as you expect? Thanks

[2022-11-03 17:03] mcgordonite commented on #412
Closing this issue: I've tested this out and `--load required` satisfies our use case.

[2022-11-03 17:03] #412 closed

[2022-11-04 13:04] tcsunhao commented on #450
(Sorry for this late reply)
For hello_world_cm4/hello_world_cm7 projects/solution, Here can be a version
csolution.yml
[code]

hello_world_cm4.cproject.yml
[code]

hello_world_cm7.cproject.yml
[code]

Hi @ReinhardKeil could you give a whole picture of your proposal by editting about 3 ymls? I have trouble fully understand your proposal. Thank you very much!

[2022-11-06 07:09] jkrech commented on #466
During our dedicated session for this topic on Friday 2022-10-28 we concluded that there is three types of selected components we see
selected by:
a) user
b) trivial dependency
c) user choice due to dependency

In order to support implementations without "automatic dependency resolution" it remains mandatory to explicitly list all three types of components in *.cproject/*.clayer.yml.
Implementatio

[2022-11-07 08:44] jeromecoutant commented on #374
Hi
To be honest, we don't use any more local_repository.pidx file :-)
But I will try to make a test!

[2022-11-08 08:05] #224 closed

[2022-11-08 12:02] jankap commented on #410
Just to confirm, is this included in the most recent release? Thanks :)

[2022-11-08 13:34] brondani commented on #410
@jankalp We don't have progress on the proposed `RTE-paths` node because it is in conflict with the `output-dirs` node and the behaviour of the customization at the several levels must be first clarified, currently being discussed in https://github.com/Open-CMSIS-Pack/devtools/issues/557

[2022-11-08 13:37] brondani commented on #557
Another question: if accepting the customization at component/class level, should the board/device specific subfolder be preserved or overwritten (as it seems to be requested in https://github.com/Open-CMSIS-Pack/devtools/issues/410)?

[2022-11-08 14:17] jkrech commented on #542
@fred-r, does the above answer your question. Can this be closed?

[2022-11-08 14:21] jkrech commented on #541
@fred-r  I am not sure we answered your question above.

[2022-11-08 15:51] jkrech commented on #450
@tcsunhao, could you please review the snippet from csolution.yml.

[code]

When you specify the context `hello_world_cm7.release+mdk` this will be mapped to `hello_world_cm7.flexspi_nor_release+mdk`
All projects with the same build-type/target-type from the csolution belong together.
`.release+mdk`
`hello_world_cm4.release+mdk`
`hello_world_cm7.flexspi_nor_release+mdk`

[2022-11-10 07:59] fred-r commented on #466
Agree with this refinement of the initial statement.
Please note that (b) exists only in the context of a given set of packs.
As soon as packs are added/removed/updated, then trivial dependencies might become non-trivial and require a user-choice.

To me, this means that as soon as the packs perimeter evolves, then all conditions need to be recomputed.
I guess this was already clear, but just want

[2022-11-10 08:06] fred-r commented on #466
Regarding the "memorization" of (a), (b) or (c), I think it is worhtwhile to maitain a single and "complete" source of truth.

So I am not in favor of solutions like:
- components (a) and (c) in cproject.yml
- components (b) only in lock file

Rationale: one of the reason for choosing YAML is the human-readability. Therefore, we should not hinder the possibility for a developer to find his complet

[2022-11-10 08:59] mdortel-stm commented on #466
From a user point of view, I'm afraid it will lead to some questions he'll possibly have to answer each time he opens a project after having installed some new packs.
In other words, it looks like a project becomes "user environment dependent", what I'm not fond of.
In the end, to serve the original need, what we need to know is "does a component resolve a condition".
Nevertheless, don't forget th

[2022-11-10 09:59] fred-r commented on #466
@mdortel-stm : agree with you, we should probably not fall in this pitfall :-)

But, here I see it more an implementation issue : provide the way to "lock" the project environment.

Otherwise, as an end-user, I may be interested in:
- upgrading my packs
- reopen my project to do a kind of "sanity check" : see if some new way to resolve conditions arise with maybe different components ?
- maybe I k

[2022-11-11 13:41] jkrech opened #588 "[csolution] generator variable $P needs to resolve to layer directory when component is selected by layer"
In csolution 1.2.0 we have changed the location of the RTE directory for layers. A layer directory (the directory containing the *.clayer.yml file) shall be self-contained and config files are no longer located/copied into the RTE directory of the *.cproject.yml.

This has also implications on files being added to the projects by generator components.

In case the generator description specifies `

[2022-11-11 16:49] jkrech commented on #511
csolution 1.3.0:
-e, --export arg      Set suffix for exporting <context><suffix>.cprj retaining only specified versions

[2022-11-15 08:02] #566 closed

[2022-11-15 09:37] brondani commented on #511
Added `--export` flag into csolution 1.3.0 published in [CMSIS-Toolbox 1.3.0](https://github.com/Open-CMSIS-Pack/cmsis-toolbox/releases/tag/1.3.0)

[2022-11-15 09:37] #511 closed

[2022-11-15 12:45] tcsunhao commented on #450
Hi @jkrech , I am confused about where the flexspi_nor_release of hello_world_cm7 is defined. Can you give an example about that?
It is strange that debug/release and  flexspi_nor_release/flexspi_nor_debug are defined in different places.

[2022-11-15 13:23] jkrech commented on #450
Hi @tcsunhao, note that flexspi_nor_release is not specifically defined but is mapped. This means that the settings for build-type=`release` are the same provided to `flexspi_nor_release`.

[2022-11-15 13:37] tcsunhao commented on #450
I think there might be limitation with this approach: what if flexspi_nor_release settings are different from release? This is not definition but rename. Please note that in hello_world_cm7.cproject, there is following definition:
[code]
The flexspi_nor_debug and flexspi_nor_release is used for linker.

[2022-11-15 13:48] jkrech commented on #450
In case of build type `debug` the cm7 cproject is "invoked" with the build-type name `flexspi_nor_debug` so the linker file selection would work as expected.

[2022-11-15 14:05] tcsunhao commented on #450
Honestly, I think this way is rename, not definition. I agree that this way can meet this hello_world_cm4/hello_world_cm7 cases, but the real embedded world has no restriction, different build types can have different data which cannot be supported by the proposal.

I prefer some ways like
[code]
Definition and invocation are separated.

[2022-11-15 15:41] yvesll commented on #506
@jkrech, in order to add a copy of the PACK.xsd in the repo, I have a discussion with @soumeh01. Sourabh suggests I track the tags of the file to make it flexible to manage the version of the file. So marking the open cmsis pack spec repo as an external submodule seems convenient as we can directly get any version of PACK.xsd. Or a more lightweight proposal is downloading the file from GitHub in r

[2022-11-16 09:14] fred-r opened #595 "Should we assign clear names and definitions to working areas ?"
I think very often we have difficulties to understand each partner's needs because we have no clear definition of the "working areas" for OpenCMSIS-Pack compliant tools.

I may propose this classification:

1. User Code area
	This is where we place main.c/h and hand-written applicative code.
	This is fully under the control of the end-user (folders, files names and contents).

        Templates as

[2022-11-16 09:14] fred-r commented on #595
@slhultgren @VGRSTM @iomint

[2022-11-16 09:19] fred-r commented on #595
Using this classification may help us in describing and analyzing the impacts of concepts like:
- multi-core projects
- projects with libraries
- projects with layers

[2022-11-16 09:21] VGRSTM commented on #595
Full agreement.

Possibly add:

5.  metadata area
  This is where tools metadata are stored.
  Can be `*.cbuild.yml` / `.cprj` repository etc., etc., ...

6. build area
  It contains the artefacts produced by the project build process

[2022-11-17 13:45] #371 closed

[2022-11-24 12:39] jkrech commented on #342
@jankap we have not been able to make progress here.
a) we don't have any provisions in the `cbuildgen`'s CMakelist.txt generation to extend/refine it.
b) instead of calling cbuild you should think about your own "orchestration". You should be able to steer output folders and add your own processing in between generating the CMakelist.txt and invoking cmake.
Regarding different compilers, you can

[2022-11-25 11:12] jeromecoutant opened #599 "GCC warnings option could map to -Wall ?"
In
https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/buildmgr/cbuildgen/config/GCC.11.2.1.cmake#L65

I would map `warnings: on` to -Wall ?

@tarek-bochkati

[2022-11-25 11:18] jeromecoutant opened #600 "Definition mismatch between Cvariant in pdsc and component in cproject yml file"
From https://github.com/Open-CMSIS-Pack/Open-CMSIS-Pack-Spec/blob/main/schema/PACK.xsd#L329
Seems that variant name could be a string "with no condition"

In https://github.com/Open-CMSIS-Pack/devtools/blob/main/tools/projmgr/schemas/common.schema.json#L340
component and variant name are not "full" string and doesn't accept "(" for example

[2022-11-25 14:20] fred-r commented on #595
User code area and templates:
- probably we need the possibility to split it
- "generic" user code
- template from componentA
- template from componentB
- ...

[2022-11-25 17:49] slhultgren commented on #434
@brondani for the last two me and @ErikLundinSTM have been doing a bit of work, maybe we can have a PR going next week

[2022-11-29 08:13] edriouk commented on #434
generator-input-files:
 - such file can also be indicated by a dedicated file attribute, e.g.
  -  - file: generated/source_file_renamed_by_generator_to_fit_project.c
          category: source
          generator: output
        - file: ${CMSIS_PACK_ROOT}/MyVendor/CustomPack/1.0.0/source_file.c
          category: source
          generator: input

[2022-11-29 09:20] brondani commented on #434
@slhultgren
1. I believe there are more info missing for running a generator, for example the working directory and the gpdsc path and filename as well as command and arguments - see the [spec](https://open-cmsis-pack.github.io/Open-CMSIS-Pack-Spec/main/html/pdsc_generators_pg.html#element_generator).
Maybe all generator related info should be placed as child nodes of a `generator` node?

2. Conce

[2022-11-29 13:08] jkrech commented on #600
@jeromecoutant this is something to discuss for all parts of the componentID.
Probably this should become a change request for the PACK.xsd schema to restrict the allowed characters and then align them with cproject/clayer schema file.

What exact requirements do you have/see?

[2022-11-29 13:11] jkrech commented on #599
@jeromecoutant I think there is debate whether `-Wall` is actually that helpful as this also includes diagnostics rather than actual warnings (this is my understanding).